/*-------CSS RESET-------*/

* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/*-------CSS GENERAL-------*/

.contenedorProductos_INDEX {
  padding: 5rem 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  grid-template-rows: auto;
  place-items: center;
  background-image: url(../img/sunny.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 350px;
  margin: 0 2rem;
  gap: 1rem;
}

.container {
  display: grid;
  grid-auto-flow: dense;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  place-items: center;
  gap: 2rem;
  margin-top: 80px;
}

.container_sobreNosotros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
  grid-template-rows: auto;
  gap: 4rem;
  place-items: center;
  margin: 0 6rem;
}
