#mainContacto {
  background-color: whitesmoke;
  text-align: center;
  margin: 5rem 0rem;

  h3 {
    text-align: center;
    margin: 5vh 0;
    font-size: 60px;
    font-family: "Quicksand", sans-serif;
  }

  h4 {
    font-size: 18px;
    margin: 5vh 0;
    line-height: 3;
    justify-content: center;
    font-family: "Quicksand", sans-serif;
  }
}
